:root {
  --primary: rgb(41, 136, 192);
  --secondary: rgb(228, 228, 2);
  --foreground: rgb(91, 91, 91);
  --danger: rgb(255, 19, 19);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: var(--foreground);
  background-color: rgb(234, 244, 250);
}
form p {
  font-size: small;
}
main {
  min-height: 70vh;
}
/* Start element defaults */

a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  text-decoration: underline;
  color: var(--secondary);
}

button {
  cursor: pointer;
}
/* End element defaults */

/* Start utilities */
.shadow {
  box-shadow: 0 1px 10px rgb(47, 45, 45);
}
.hidden {
  display: none;
}
.w-full {
  width: 100%;
}
.btn {
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
}
.btn-primary {
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--primary);
}

.btn-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
  background-color: var(--secondary);
}
.btn-primary:hover {
  background: var(--primary);
}

.btn-secondary:hover {
  background: var(--secondary);
}
.btn-danger {
  color: var(--danger);
  border-color: var(--danger);
  background-color: var(--danger);
}
.btn-danger:hover {
  background: var(--danger);
}

.btn-hollow {
  border: 1px solid;
  background-color: white;
}
.btn-hollow:hover {
  color: white;
}
.rounded-lg {
  border-radius: 1rem;
}

.border-primary {
  border: 1px solid var(--primary);
}

.border-secondary {
  border: 1px solid var(--secondary);
}
.rounded-lg {
  border-radius: 1.3rem;
}
.rounded-xl {
  border-radius: 1.5rem;
}

.text-primary {
  color: var(--primary);
}
.text-white {
  color: white;
}
.text-lg {
  font-size: 1.4rem;
}
.text-md {
  font-size: medium;
}
.text-xl {
  font-size: 1.8rem;
}
.text-sm {
  font-size: small;
}
.text-secondary {
  color: var(--secondary);
}
.my-10 {
  margin-block: 7rem;
}
.my-5 {
  margin-block: 4rem;
}
.mt-sm {
  margin-top: 0.5rem;
}
.my-3 {
  margin-block: 1.2rem;
}
.py-10 {
  padding-block: 7rem;
}
.py-5 {
  padding-block: 4rem;
}
.py-3 {
  padding-block: 2rem;
}
/* Start utilities */

.container {
  max-width: 1000px;
  padding-inline: 1rem;
  margin-inline: auto;
}
/* end utilities */

/* start custom clases */

.hero-banner {
  height: 400px;
  padding: 1rem;
  display: flex;
  justify-content: start;
  background-size: cover;
  align-items: center;
  background-image: url("../media/banner.jpg");
  position: relative;
  overflow: hidden;
}

.hero-banner div {
  z-index: 5;
}
.hero-banner::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.4;
  z-index: 1;
}
.logo {
  font-size: 1rem;
}
.navbar {
  background: white;
  border-radius: 0.5rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
}

.topics-section h3 {
  text-align: center;
}

.topics-section .topics-section__topics {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.topics-section .topics-section__topics button {
  border-radius: 1rem;
}
.claim-previews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.claim-preview-card {
  border-radius: 1.3rem;
  padding: 0.5rem;
  border: 1px solid var(--foreground);
  display: flex;
  background-color: rgb(238, 238, 238);
  flex-direction: column;
  transition: background-color 1s, color 1s;
  gap: 0.5px;
  /* justify-content: center; */
  overflow: hidden;
}

.claim-preview-card:hover {
  background: var(--primary);
  color: white !important;
}
.claim-preview-card:hover a {
  color: white !important;
}
.claim-preview-card .img-container {
  height: 200px;
}
.claim-preview-card .text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.claim-preview-card .text-container h3 {
  flex-grow: 1;
}
.claim-preview-card img {
  border-radius: 1.3rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.claim-preview-card h3 {
  font-weight: 700;
}
.claim-preview-card .date {
  font-size: smaller;
  display: inline-block;
}
.claim-preview-card .stats {
  display: flex;
  gap: 2rem;
  font-size: small;
}

.footer {
  background: var(--primary);
  padding-block: 3rem;
  color: white;
  text-align: center;
}
.modal {
  display: none;
}
.modal-trigger {
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  backdrop-filter: blur(2px);
  z-index: 40;
}
.modal-body {
  inset: 50% 0 0 50%;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  background-color: rgb(245, 247, 248);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 400px;
  z-index: 50;
  max-height: max-content;
}
.modal .title {
  font-size: large;
  color: var(--primary);
  text-align: center;
  display: flex;
  margin-block: 0;
}
.modal .title span {
  flex-grow: 1;
}
.modal .title button {
  all: unset;
  color: var(--foreground);
  font-weight: normal;
  cursor: pointer;
}
.modal .title button:hover {
  color: red;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.form-control span.label {
  font-size: small;
  color: var(--primary);
}

.form-control input,
.form-control select {
  outline: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
.form-control input:focus,
.form-control select:focus {
  outline: 1px solid var(--primary);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* end custom clases */
