.topic-banner {
  background-image: url("/static/media/topic-banner.jpg");
  color: white;
  height: 300px;
  background-size: cover;
  display: grid;
  place-items: center;
  text-align: center;
}

.topic__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
