{% extends "layout.html" %} {% block title %} Claim {% endblock %} {% block
content %} {% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/claim.css')}}" />
{% endblock %}

<div
  id="data-div"
  data-topic-id="{{topicID}}"
  data-first-claim-id="{{firstClaimID}}"
  data-second-claim-id="{{secondClaimID}}"
  class="hidden"
  data-preview-card-url="{{ url_for('static', filename='media/claim-illustration.jpg') }}"
  data-profile-icon-url="{{url_for('static', filename='media/user-icon.svg')}}"
></div>

<div class="container my-3">
  <div class="claim main"></div>

  <div class="modal" data-modal-id="create-child-claim">
    <div class="modal-overlay" data-modal-id="create-child-claim"></div>
    <div class="modal-body">
      <h3 class="title">
        <span>Create Claim</span>
        <button class="close-btn" data-modal-id="create-child-claim">X</button>
      </h3>
      <form id="create-child-claim-form">
        <label for="" class="form-control">
          <span class="label">Title</span>
          <input type="text" name="text" />
        </label>
        <label for="" class="form-control">
          <span class="label">Claim Relationship</span>
          <select name="claimRelType">
            <option value="Opposing">Opposing</option>
            <option value="Equivalent">Equivalent</option>
          </select>
        </label>
        <button type="submit" class="btn btn-primary text-white w-full mt-sm">
          Submit
        </button>
      </form>
    </div>
  </div>

  <div class="my-3 sub-claims">
    <div id="equivalent-claims">
      <div class="equivalent-header">
        <h3>Equivalent Claims</h3>
        <button class="create-child-claim-btn">Add +</button>
      </div>
      <div class="claim equivalent">
        <div class="header">
          <div class="user">
            <img
              src="{{url_for('static', filename='media/user-icon.svg')}}"
              alt="user icon"
            />
            <div class="data">
              <a href="#">Username</a>
              <span>12/12/2024</span>
            </div>
          </div>

          <button>30 Replies</button>
        </div>
        <h3 class="heading">Lorem ipsum dolor sit amet.</h3>

        <div class="replies">
          <h3>Replies</h3>
          <div class="reply">
            <div class="header">
              <div class="user">
                <img
                  src="{{url_for('static', filename='media/user-icon.svg')}}"
                  alt="user icon"
                />
                <div class="data">
                  <a href="#">Username</a>
                  <span>12/12/2024</span>
                </div>
              </div>
              <button>15 Replies</button>
            </div>
            <p>
              <span class="reply-tag">@reply</span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae aspernatur quidem porro debitis tempore. Fugiat fuga
              vitae perferendis? Officiis tenetur tempora repellendus placeat
              earum facere molestiae!
            </p>
            <div class="nested-replies">
              <div class="nested-reply">
                <div class="header">
                  <div class="user">
                    <img
                      src="{{url_for('static', filename='media/user-icon.svg')}}"
                      alt="user icon"
                    />
                    <div class="data">
                      <a href="#">Username</a>
                      <span>12/12/2024</span>
                    </div>
                  </div>
                  <button>Reply</button>
                </div>
                <p>
                  <span class="reply-tag">@username</span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae aspernatur quidem porro debitis tempore. Fugiat
                  fuga vitae perferendis? Officiis tenetur tempora repellendus
                  placeat earum facere molestiae!
                </p>
              </div>
              <div class="nested-reply">
                <div class="header">
                  <div class="user">
                    <img
                      src="{{url_for('static', filename='media/user-icon.svg')}}"
                      alt="user icon"
                    />
                    <div class="data">
                      <a href="#">Username</a>
                      <span>12/12/2024</span>
                    </div>
                  </div>
                  <button>Reply</button>
                </div>
                <p>
                  <span class="reply-tag">@username @second-username</span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae aspernatur quidem porro debitis tempore. Fugiat
                  fuga vitae perferendis? Officiis tenetur tempora repellendus
                  placeat earum facere molestiae!
                </p>
              </div>
            </div>
          </div>
          <div class="reply">
            <div class="header">
              <div class="user">
                <img
                  src="{{url_for('static', filename='media/user-icon.svg')}}"
                  alt="user icon"
                />
                <div class="data">
                  <a href="#">Username</a>
                  <span>12/12/2024</span>
                </div>
              </div>
              <button>15 Replies</button>
            </div>
            <p>
              <span class="reply-tag">@reply</span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae aspernatur quidem porro debitis tempore. Fugiat fuga
              vitae perferendis? Officiis tenetur tempora repellendus placeat
              earum facere molestiae!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="opposing-claims">
      <div class="opposing-header">
        <h3>Opposing Claims</h3>
        <button class="create-child-claim-btn">Add +</button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {%block scripts%}
<script src="{{url_for('static',filename='js/claim.js')}}"></script>
{%endblock%}
