{% extends "layout.html" %} {% block title %} Topic {% endblock %} {% block
stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/topic.css') }}"
/>

{% endblock %} {% block content %}
<!-- dynamic route parameter -->
<div
  id="data-div"
  data-topic-id="{{topicID}}"
  class="hidden"
  data-preview-card-url="{{ url_for('static', filename='media/claim-illustration.jpg') }}"
></div>
<div class="topic-banner">
  <div class="container">
    <h1>Discuss and Debate #<span class="topic-name"></span></h1>
    <p id="user-info"></p>
  </div>
</div>
<div class="container my-5">
  <div class="topic__heading">
    <h3>Recent Claims For <span class="topic-name"> </span></h3>
    <button id="create-claim-btn" class="btn btn-primary text-white">
      + Add Claim
    </button>
  </div>
  <div class="claim-previews"></div>
</div>
<div class="modal" data-modal-id="create-claim">
  <div class="modal-overlay" data-modal-id="create-claim"></div>
  <div class="modal-body">
    <h3 class="title">
      <span>Create Claim</span>
      <button class="close-btn" data-modal-id="create-claim">X</button>
    </h3>
    <form id="create-claim-form">
      <label for="" class="form-control">
        <span class="label">Title</span>
        <input type="text" name="text" />
      </label>
      <button type="submit" class="btn btn-primary text-white w-full mt-sm">
        Submit
      </button>
    </form>
  </div>
</div>
{% endblock %} {% block scripts%}
<script src="{{ url_for('static', filename='js/topic.js') }}"></script>
{%endblock%}
