{% extends "layout.html" %} {% block title %} Topic {% endblock %} {% block
stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/topic.css') }}"
/>

{% endblock %} {% block content %}
<!-- dynamic route parameter -->
<div
  id="data-div"
  data-topic-id="{{topicId}}"
  class="hidden"
  data-preview-card-url="{{ url_for('static', filename='media/claim-illustration.jpg') }}"
></div>
<div class="topic-banner">
  <div class="container">
    <h1>Discuss and Debate #<span id="topic-name">{{topic}}</span></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
      suscipit laboriosam dignissimos, ab quam nemo ducimus minus provident
      optio dicta, enim, eius sunt? Aut.
    </p>
  </div>
</div>
<div class="container my-5">
  <h3>All Claims For {{topic}}</h3>
  <div class="claim-previews"></div>
</div>
{% endblock %} {% block scripts%}
<script src="{{ url_for('static', filename='js/topic.js') }}"></script>
{%endblock%}
